.top_menu{
  font-size: 16px;
}
.wrapper{
  padding-top:20px;
}
.page_title{
  font-size: 24px;
  text-align: center;
}
.paragraph_text{
  width: 100%;
}
.paragraph_number{
  padding: 10px;
  color:rgba(0,0,0,0.2);
}